.top-content {
  width: 100%;
  height: 500px;
  position: relative;
  background-size: contain;
  padding: 0 5px;
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
}
  &__title {
    font-size: 57px;
    color: white;
    text-align: center;
    margin-top: 153px;
    //width: 100%;
    //white-space:nowrap;
    //overflow:hidden;
    //animation: type 5s steps(50, end);
  }
  &__delivery {
    color: white;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 100;
  }
  &__blok{
    width: 120px;
    height: 2px;
    background: white;
    margin:15px;
  }
  &__butt {
    width: 200px;
    height: 48px;
    background: #1AB0CE;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 2px;
    //animation: but 5000ms linear infinite;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      width: 0px; height: 48px;
      background: #1AB0CE;
      color: #1AB0CE;
    }
    &:hover{
      background: white;
      color: white;
      border: 1px solid #1AB0CE;
      transition: 0.5s;
      z-index: 1;
      &:before{
        position: absolute;
        content: '';
        width: 200px; height: 48px;
        color: #FFFFFF;
        font-size: 14px;
        transition: 1s;
        z-index: -1;
        border-radius: 2px;
        top:0;
        left: 0;
      }
    }
  }
  &__coll {
    position: absolute;
    bottom: -69%;
    right: -12%;
    z-index: 1;
    cursor: pointer;
    animation: tossing 3500ms linear infinite;
    svg g circle{
      transition: 0.3s;
      fill: #1AB0CE;
      &:hover{
        fill: #24A8f9;
      }
    }
  }
}
@keyframes tossing {
  0% {transform: scale(1);}
  25% {transform: scale(1.05);}
  50% {transform: scale(1.1);}
  75% {transform: scale(1.05);}
  100% {transform: scale(1);}
}
@keyframes but {
  0% {border: 1px solid #1AB0CE;}
  100% {border: 1px solid white;}
}
  .content{
    width: 100%;
    padding: 30px 0;
    &__block {
      position: relative;
      padding: 25px;
      flex-grow: 1;
      cursor: pointer;
      border: 1px solid #DCE1E6;
      min-width: 300px;
      display: flex;
      transition: 0.3s;
      background-color: #fff;
      z-index: 1;
      min-height: 348px;
      margin-bottom: 10px;
      &:hover {
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      &__text {
        flex-grow: 1;
      }
      &__img {
        width: 95px;
      }
      &__links {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;

        & > div {
          flex-grow: 1;
        }
      }
      &__title{
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 24px;
      }
      &__link{
        font-size: 16px;
        color: #3A4047;
        line-height: 30px;
        margin-bottom: 10px;
        text-decoration: none;
        &:hover {
          color: #1AB0CE;;
          text-decoration: none;
        }
      }
    }
    &__title-up{
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 36px;
      margin-bottom: 44px;
      &--weight{
        font-weight: 900;
      }
    }
    &__description{
      font-size: 14px;
      padding-bottom: 13px;
    }
    &__news{
      position: relative;
      transition: 0.3s;
      flex-grow:1;
      display: flex;
      align-items: center;
      padding: 25px;
      justify-content: center;
      flex-direction: column;
      &:before, &:after{
        height: 2px;
        width: 0;
        right: 50%;
        background-color:#1AB0CE;
        top: 0;
        position: absolute;
        content: '';
        transition: 0.3s;
      }
      &:before{
        left: 50%;
      }
      &:hover{
        &:before, &:after{
          width: 50%;
        }
      }
      &__data{
        color: #BEC7D1;
        margin-bottom: 15px;
        font-size: 14px;
      }
      &__link {
        color: #3A4047;
        text-align: center;
        line-height: 25px;
        text-decoration: none;
        font-weight: 500;
        &:hover{
          color: #1AB0CE;
          font-weight: 100;
          text-decoration: underline;
        }
      }
    }
    &__button{
      color: #1AB0CE;
      width: 190px;
      height: 32px;
      background: white;
      border: 1px solid #1AB0CE;
      font-size: 14px;
      padding: 5px;
      display: inline;
      text-align: center;
      margin: 50px auto;
      cursor: pointer;
      &:hover{
        background: #1AB0CE;
        color: white;
        transition: 1s;
      }

    }
    &__flex-box{
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }
  }
#about{
  border-bottom: 1px solid #f9f9f9;
}
@media (max-width: 1470px) {
  .top-content__coll {
    right: 0%;
  }
}
@media (max-width: 1400px) {
  .top-content__coll {
    bottom: -45%;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 993px) {

}
@media (max-width: 768px) {
  .top-content__title {
    font-size: 47px;
    margin-top: 100px;
  }
  .top-content__coll {
    bottom: -77%;
  }
  .top-content__delivery {
    font-size: 20px;
  }
}
@media (max-width: 490px) {
  .top-content__coll {
    display: none;
  }
  .content__title-up {
    margin-bottom: 20px;
  }
  .content {
    padding: 10px 0;
  }
  .content__button {
    margin: 20px auto;
  }
}