
@font-face{
  font-family: "clear-italic";
  src : url("../fonts/ClearSans-Italic.ttf");
}
@font-face{
  font-family: "clear_light";
  src : url("../fonts/ClearSans-Light.ttf");
}
@font-face{
  font-family: "clear_medium";
  src : url("../fonts/ClearSans-Medium.ttf");
}
@font-face{
  font-family: "clear-bold";
  src : url("../fonts/ClearSans-Bold.ttf");
}
@font-face{
  font-family: "clear";
  src : url("../fonts/ClearSans-Regular.ttf");
}
